table {
    border-collapse: separate;
    border-color: red;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
td:nth-child(odd) {
    background-color: red;
    color: black;
}

td:nth-child(even) {
    background-color: black;
    color: wheat;
}
